{%extends 'base.html' %}

{%block content %}
    <form class = "grid" action="/result" method="POST">
        <label for="Name">enter id :</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="submit" class="file_submit">

      </form>

      {% if name %}
      <h3>{{name}} </h3><br>
      <a href="http://127.0.0.1:5000/change">change pasport id</a>
      <a href="http://127.0.0.1:5000/delete">delete user</a>
      {% endif %} 

      <a href="http://127.0.0.1:5000/create">create user</a>

{% endblock %}